// Variables
$main-color: #FFFFFF;
$secondary-color: darken(#888888, 10%);
$main-font-size: 14px;

$green: #7FBA00;
$yellow: #FCD116;
$red: #E81123;
$blue: #00AFF0;

$main-text-gray-color: #484848;
$light-gray-color: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;

$bgDefault      : #737573;/*фон*/
$bgHighlight    : #54aaaa;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; 

/* Red * /
$bgDefault      : #e74c3c;
$bgHighlight    : #c0392b;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc; /*/
/* Green * /
$bgDefault      : #2eccaa;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/
